.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 2px;
  border: 1px solid silver;
  border: 1px solid #3e4347;

  background: #2e3134;
  font-size: 86%;
  font-family: 'Roboto Mono', monospace !important;

  max-height: 20em;
  min-width: 100px;
  overflow-y: auto;
  box-sizing: border-box;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 0px;
  white-space: pre;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}
