:root {
    --jumbotron-padding-y: 3rem;
    --primary-color: #1976d2;
}

body {
    color: #fff;
    margin-bottom: 100px;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

.slideLeft{
    position: relative;
    animation: slideLeft 1s linear 0s 1 alternate;
}

.slideRight{
    position: relative;
    animation: slideRight 1s linear 0s 1 alternate;
}

.slideTop{
    position: relative;
    animation: slideTop 1s linear 0s 1 alternate;
}

.slideBottom{
    position: relative;
    animation: slideBottom 1s linear 0s 1 alternate;
}

.fadeIn{
    opacity: 0;
    animation: fadeIn 1s linear 1s 1 forwards;
}

@keyframes slideLeft {
    0%   {left:-100rem;}
    100% {left:0px;}
  }

  @keyframes slideRight {
    0%   {left:100rem;}
    100% {left:0rem;}
  }

  @keyframes slideTop {
    0%   {top:-100rem;}
    100% {top:0rem;}
  }

  @keyframes slideBottom {
    0%   {top:100rem;}
    100% {top:0rem;}
  }

  @keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }



@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

a, a:active {
    color: var(--primary-color);
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    font-size: 3rem;
}

.tagline.lead {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    padding: 1rem 4rem;
    font-size: 1.5rem;
}


/*
.jumbotron .container {
    max-width: 40rem;
}
*/

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.card {
    height: 300px;
    cursor: pointer;
}

.card-text {
    height: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-img-top-default {
    height: 180px;
    background: rgba(0, 0, 0, .05) url('../img/droidscript_logo_64x64.png') 50% 50% no-repeat;
}

.card-img-top {
    height: 180px;
    background-color: rgba(0, 0, 0, .05);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top-left;
}

.card-footer a.btn {
    width: 80%;
}

.display-2 {
    font-size: 2.75rem;
    margin: 2.5rem 0 1rem 0;
}

.display-3 {
    font-size: 2.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 2rem 0 1rem 0;
}

hr {
    margin: 2rem 0;
}

section img {
    margin: 2rem 0;
}

.row {
    margin: 0;
}

.nomargin {
    margin: 0 !important;
}

.indent2 {
    padding-left: 2rem;
}

pre {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid gray;
    border-width: 0px 0px 0px .8rem;
    padding: 1rem;
}

p, li {
    font-size: 1.2rem;
}

p li {
    margin: 1.3rem 0;
}

.list-unstyled li {
    margin: auto !important;
}

td li {
    font-size: 1rem;
    list-style-type: initial;
}

td ul ul li{
    font-size: 1rem;
    list-style-type: square;
}

ul li {
    font-size: 1rem;
    list-style-type: initial;
}

ul ul ul li{
    font-size: 1rem;
    list-style-type: square;
}

ol ul li {
    font-size: 1rem;
    list-style-type: initial;
}

ol ul ul li{
    font-size: 1rem;
    list-style-type: square;
}

img.rounded {
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 250px
}

a {
    word-wrap: break-word;
}

img {
    max-width: 700px;
    max-height: 600px;
}

/*
.card-img-top .default {
    background-image: url(../img/droidscript_logo_64x64.png) 50% 50% no-repeat;
}*/

html, body {
    height: 100%;
}
  
.full-height {
    height: 100%;
}

.copy-button {
    height: 20px;
    width: 20px;
    font-size: 20;
    border: none;
    position: absolute;
    /* float: right; */
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    color: #757575;
    right: 70px;
    z-index: 10;
}

.copy-button:focus {
    outline: none;
}

.copy-button:hover {
    color: white;
}

.copy-icon {
    fill: currentColor;
}

pre {
    border-left: 0;
    border-radius: 4px;
}

/* left-navigation */
.nav-link {
    box-sizing: border-box;
    color: #b0bec5;
    font-size: 1rem;
    font-weight: 600;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}
.nav-link:hover, .nav-list-items:hover { color: white; background-color: #343a40; }
.nav-link.active { color: white; background-color: var(--primary-color) }
.nav-list-items.active { color: white; background-color: #343a40; }

.nav-list-items {
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    line-height: 30px;
    font-size: 90%;
    color: #b0bec5;
    display: block;
    width: 100%;
    padding-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-list-items:hover {
    text-decoration: none;
}

.nav-list {
    overflow: hidden;
    overflow-y: auto;
    transition: all .25s ease-in-out;
    height: 0;
    margin: 0px;
    max-height: 250px;
}

.nav-link {
    display: inline-flex;
    justify-content: space-between;
}

.nav-link span {
    width: 1rem;
    height: 1rem;
}

.nav-link.active svg {
    transform: rotate(180deg);
}

.tutorial-search-box {
    margin:48px 0px 20px 0px;
}

.backtick-enclosed {
    padding:3px 4px;
    border-radius:2px;
    font: 0.85rem monospace;
}

/* card hover */
.card:hover {
    border: 1px solid #90a4ae;
}

.card-title {
    font-size: 1.1rem;
}

.card-subtitle {
    color:#b0bec5;
    font-size: 0.95rem;
    font-weight: 400;
}

/* Home navigation link */
.home-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-name:hover {
    text-decoration: none;
}

.capitalize {
    text-transform: capitalize;
}

/* main-page */
#main-page {
    display: flex;
    justify-content: end;
}

#main-content {
    box-sizing: border-box;
    padding: 0px 4rem;
    width: calc(100% - 16rem);
}

#left-panel {
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    width: 16rem;
    /* width: 0;  */
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    z-index: 100;
}

.btn-link.d-lg-none {
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5 );
}

.left-panel-title {
    margin-top: 30px;
}

.header-cover-sm {
    display: none;
    margin: 2rem auto;
    width: 94%;
    border-radius: 8px;
}

.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Take up full width */
    padding: 50px 0; /* Add some padding for spacing */
}

.search-container input {
    width: 20rem;
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.hair-line {
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    margin: 2rem auto;
    display: none;
}

.main-page-header {
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav-div { display: inline-flex; }

.right-controls { display: inline-flex; }

.right-controls:not(.navbar .right-controls), #main-page .theme-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

#result-links .nav-list-items {
    padding-left: 20px;
    line-height: 24px;
    font-size: 80%;
}
#result-links .nav-list-items:hover {
    background-color: #37474f;
}

#menu-button { width: 60px; }

@keyframes rotation45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-45deg); }
}

@keyframes rotationReverse45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
.rotate-45 { animation: rotation45 0.1s; animation-iteration-count: 1; }

.rotate-reverse-45 { animation: rotationReverse45 0.1s; animation-iteration-count: 1; }

table, tr, td {
    font-size: 97%;
    border: 0px !important;
}

.overline { color:#9e9e9e; font-size:70%; margin-top: 24px; }

.arg-def { color: #9e9e9e; font-size: smaller;}

/* :target { scroll-margin-top: 72px; } */

/* scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #888; }
.nav-list::-webkit-scrollbar { width: 0px; }


/* Sample Code and CodeMirror */

@font-face {
    font-family: 'Roboto-Mono';
    src: url('RobotoMono.ttf');
}

.sample-code {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    margin-bottom: 2rem;
}

.sample-code.lang-html .run-code-btn {
    display: none !important;
}

.CodeMirror {
    font-family: 'Roboto-Mono', monospace;
    font-size: 0.88rem;
    background-color: black;
}
.CodeMirror-scroll {
    background-color: black;
}
.CodeMirror-linenumbers {
    background-color: black;
    /*min-width: 24px;*/
    padding-right: 4px;
    border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.jdocs-sample-code .CodeMirror {
    height: auto;
    overflow-y: hidden;
}

.jdocs-sample-code .CodeMirror .cm-property {
    color: #ff9800;
}

.sample-code-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sample-code-footer {
    padding: 0.25rem 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
}

.sample-code-actions {
    background-color: #000;
    margin-right: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.05rem 1rem;
    min-width: 2rem;
    border: none;
}

.btn-lang button {
    border: 1px solid rgba(255,255,255,0.4);
    background-color: #000;
    color: rgba(255, 255, 255, 0.54);
}

.sample-code-actions:hover {
    color: #fff;
}

.sample-code-actions svg {
    margin-top: 4px;
}

/* right-panel and mobile view */
.right-panel {
    box-sizing: border-box;
    height: 100vh;
    width: 0px;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
}

.mobile-actions {
    margin-top: 2.5rem;
    margin-right: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.mobile-actions button {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    padding: 5px 0px;
}

.mobile-actions button svg:hover {
    color: #fff;
}

/* .mobile-actions button svg {
    font-size: 1rem;
} */

.right-panel-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-panel iframe {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
}

.smartphone-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.loader {
    border: 4px solid white;
    border-radius: 50%;
    border-top: 4px solid transparent;
    width: 70px;
    height: 70px;
    animation: rotate 1s linear infinite;
}

.marvel-device.iphone8plus {
    width: 314px;
    height: 580px;
}

.marvel-device.iphone8plus .sensor {
    left : 124px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.jdocs-title {
    margin: 2.5rem 0rem;
}

.jdocs-heading {
    margin: 2.5rem 0rem;
}

.jdocs-subtitle {
    margin: 2rem 0rem;
}

.jdocs-text {
    margin: 2rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    color: #cfd8dc;
}

.jdocs-tip {
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 0.95rem;
    margin: 2rem 0rem;
}

.jdocs-img-container {
    width: 100%;
    display: flex;
    margin: 2rem 0rem;
}

.jdocs-img {
    border-radius: 4px;
    margin: 0 auto 0 auto;
}

.jdocs-sample-code {
    width: 100%;
    padding: 16px 24px;
    font-weight:300;
    font-size:90%;
    background-color: black;
    margin: 6px 0px 24px 0px;
}

.jdocs-table-header {
    width: fit-content;
}

.jdocs-table-header-item {
    padding: 8px 20px;
    color: white;
}

.jdocs-table-row {
    color: #bdbdbd;
    margin: 0 !important;
}

.jdocs-table-row-item {
    font-weight: 300; 
    padding: 8px 20px;
}

.jdocs-hr {
    margin: 2rem 0rem;
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.jdocs-hr-line {
    border-bottom: 1px solid #212121;
    height: 1px;
    width: 100%;
}

.jdocs-button {
    margin: 1rem 4px;
    padding: 0.5rem 2rem;
    min-width: 5rem;
}

.jdocs-table {
    margin: 2rem 0rem;
    width: 100%;
}

tr.table-row, tr td {
    margin: 0 !important;
}

.jdocs-list-item-ol, .jdocs-list-item-ul {
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

.jdocs-challenge {
    width: 100%;
}

.bold {
    font-weight: bold;
}

/* css styles added by jdocs-editor */
.jdocs-element {
    box-sizing: border-box;
    border: 1px dotted transparent;
}

.jdocs-element:focus, .jdocs-element:hover {
    outline: none;
    border: 1px dotted rgba(255, 255, 255, 0.5);
}

.jdocs-active {
    outline: none;
    border: 1px dotted rgba(255, 255, 255, 0.5);
}

.display-none { display: none; }

.delete-icon {
    /* display: none; */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.delete-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.remove-pointer-events {
    pointer-events: none;
}

.goback-btn {
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
}

.goback-btn svg, .home-name svg {
    margin-right: 0.5rem;
}

.btn-toggle-lang {
    border: 1px solid rgba(255, 255, 255, 0.4);
}



/* 774px */
@media (max-width: 774px) {
    .sm-none { visibility: hidden; height: 0px; }
    .left-panel-title { margin-top: 7rem; }
    .main-content { padding: 0px 2rem; }
    .jdocs-img { width: 80% !important; }
    .navbar { display: block; }
    .version-dropdown { display: none; }
    .navbar .version-dropdown { display: block; }
    .header-cover-sm { display: block; }
    .main-page-header {
        background-image: none !important;
        background-color: transparent !important;
        padding-top: 4rem;
        padding-bottom: 0rem;
        flex-direction: column;
    }
    .main-page-header .jumbotron-heading { display: none; }
    .tagline.lead { font-size: 1.1rem; }
    .hair-line { display: block; }
    .goback-btn { display: none !important; }
    .right-controls:not(.navbar .right-controls), #main-page .theme-btn { display: none; }
    .home-name svg { display: none; }
}

@media (min-width: 775px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
    .navbar { display: none !important; }
    .main-page-header { margin-bottom: 3rem; }
}

/* 540 */
@media (max-width: 540px) {
    .main-content, #main-content { padding: 0px 1rem; }
    .copy-button { right: 24px; }
    .search-container input { width: 100%; }
    .main-page-header { min-height: fit-content; }
    .right-panel { width: 0rem; }
    #main-page { width: 100vw; }
}

/* Desktop */
@media (min-width: 1025px) {
    .right-panel { width: 27rem; }
    #main-page { width: calc(100vw - 27rem); }
}